.home {
  min-height: calc(100vh - 102px);
}

.home h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

@media (max-width: 1023px) {
  .home {
    min-height: calc(100vh - 87px);
  }
}
